fastapi[standard]
PyPDF2
pymupdf
langchain
langchain_community
faiss-cpu
langchain-huggingface
groq
langchain-groq
python-dotenv
psycopg2-binary
loguru
pymongo
PyJWT
passlib[bcrypt]
sentence-transformers