fastapi[standard]
PyPDF2
pymupdf
pdfplumber
langchain
langchain_community
faiss-cpu
langchain-huggingface
groq
langchain-groq
python-dotenv
psycopg2-binary
loguru
pymongo
PyJWT
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
sentence-transformers
nltk